:root {

/* Colors: */
--unnamed-color-00a5d7: #00A5D7;
--unnamed-color-1e4673: #1E4673;
--unnamed-color-732f29: #732F29;
--unnamed-color-667312: #667312;
--unnamed-color-707070: #707070;
--unnamed-color-b7cb34: #B7CB34;
--unnamed-color-343a40: #343A40;
--unnamed-color-ffffff: #FFFFFF;
/* Font/text values */
--unnamed-font-family-open-sans: Open Sans;
--unnamed-font-family-spectral-sc: Spectral SC;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-normal: normal;
--unnamed-font-weight-bold: bold;
--unnamed-font-weight-medium: medium;
--unnamed-font-size-16: 16px;
--unnamed-font-size-18: 18px;
--unnamed-font-size-24: 24px;
--unnamed-font-size-32: 32px;
--unnamed-font-size-40: 40px;
--unnamed-font-size-52: 52px;
--unnamed-font-size-56: 56px;
--unnamed-font-size-35-20000076293945: 35.20000076293945px;
--unnamed-font-size-19-200000762939453: 19.200000762939453px;
--unnamed-font-size-17-200000762939453: 17.200000762939453px;
--unnamed-character-spacing-0: 0px;
--unnamed-line-spacing-20: 20px;
--unnamed-line-spacing-24: 24px;
--unnamed-line-spacing-44: 44px;
--unnamed-line-spacing-61: 61px;
--unnamed-line-spacing-26-399999618530273: 26.399999618530273px;
--unnamed-line-spacing-35-2: 35.2px;
--unnamed-line-spacing-38-720001220703125: 38.720001220703125px;
--unnamed-line-spacing-21-1200008392334: 21.1200008392334px;
--unnamed-line-spacing-18-920000076293945: 18.920000076293945px;
--unnamed-line-spacing-28-8: 28.8px;
--unnamed-line-spacing-54-6: 54.6px;
--unnamed-line-spacing-58-79999923706055: 58.79999923706055px;
/* Font/text values */
--unnamed-font-family-open-sans: Open Sans;
--unnamed-font-family-spectral-sc: Spectral SC;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-normal: normal;
--unnamed-font-weight-bold: bold;
--unnamed-font-weight-medium: medium;
--unnamed-font-size-16: 16px;
--unnamed-font-size-18: 18px;
--unnamed-font-size-24: 24px;
--unnamed-font-size-32: 32px;
--unnamed-font-size-40: 40px;
--unnamed-font-size-52: 52px;
--unnamed-font-size-56: 56px;
--unnamed-font-size-35-20000076293945: 35.20000076293945px;
--unnamed-font-size-19-200000762939453: 19.200000762939453px;
--unnamed-font-size-17-200000762939453: 17.200000762939453px;
--unnamed-character-spacing-0: 0px;
--unnamed-line-spacing-20: 20px;
--unnamed-line-spacing-24: 24px;
--unnamed-line-spacing-44: 44px;
--unnamed-line-spacing-61: 61px;
--unnamed-line-spacing-26-399999618530273: 26.399999618530273px;
--unnamed-line-spacing-35-2: 35.2px;
--unnamed-line-spacing-38-720001220703125: 38.720001220703125px;
--unnamed-line-spacing-21-1200008392334: 21.1200008392334px;
--unnamed-line-spacing-18-920000076293945: 18.920000076293945px;
--unnamed-line-spacing-28-8: 28.8px;
--unnamed-line-spacing-54-6: 54.6px;
--unnamed-line-spacing-58-79999923706055: 58.79999923706055px;
}

/* Character Styles */
.dropdown-nav {
  font-family: var(--unnamed-font-family-open-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-18);
  line-height: var(--unnamed-line-spacing-20);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-1e4673);
  }
  .body-text {
  font-family: var(--unnamed-font-family-open-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-24);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-343a40);
  }
  .h1-standard {
  font-family: var(--unnamed-font-family-open-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-40);
  line-height: var(--unnamed-line-spacing-44);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-343a40);
  }
  .h1-display {
  font-family: var(--unnamed-font-family-spectral-sc);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-medium);
  font-size: var(--unnamed-font-size-56);
  line-height: var(--unnamed-line-spacing-58-79999923706055);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-1e4673);
  }
  .h2-standard {
  font-family: var(--unnamed-font-family-open-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-35-20000076293945);
  line-height: var(--unnamed-line-spacing-38-720001220703125);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-1e4673);
  }
  .h2-sectionhead {
  font-family: var(--unnamed-font-family-spectral-sc);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-52);
  line-height: var(--unnamed-line-spacing-54-6);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-1e4673);
  }
  .h2-callouthead {
  font-family: var(--unnamed-font-family-spectral-sc);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-40);
  line-height: var(--unnamed-line-spacing-61);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  }
  .h3-standard {
  font-family: var(--unnamed-font-family-open-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-32);
  line-height: var(--unnamed-line-spacing-35-2);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-1e4673);
  }
  .h3-callout {
  font-family: var(--unnamed-font-family-spectral-sc);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-24);
  line-height: var(--unnamed-line-spacing-28-8);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-1e4673);
  }
  .h4-standard {
  font-family: var(--unnamed-font-family-open-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-24);
  line-height: var(--unnamed-line-spacing-26-399999618530273);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-1e4673);
  }
  .h5-subhead {
  font-family: var(--unnamed-font-family-open-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-19-200000762939453);
  line-height: var(--unnamed-line-spacing-21-1200008392334);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-1e4673);
  }
  .h6-subhead {
  font-family: var(--unnamed-font-family-open-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-17-200000762939453);
  line-height: var(--unnamed-line-spacing-18-920000076293945);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-1e4673);
  }
p{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-343a40);
text-align: left;
font: normal normal normal;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html{
  /* font-size:62.5% */
}
body{
  font-family: 'Open Sans', sans-serif;
  color:#343A40;
}
.sans{
  font-family: 'Open Sans', sans-serif !important;
}
.spectral{
  font-family: 'Spectral SC', serif !important;
}
h1,h2{font-family: 'Spectral SC', serif;}
h1{
font-size:3.5em;
}
h2{
  font-size:2.2em;
}
h3{
  font-size:2em;
} 
h4{
  font-size:1.5em;
}
 h5{
  font-size:1.2em;
 }
  h6{
    font-size:1.075em;
  } 

  a > p{
border-bottom: 1px solid rgba(183,203,52,0.6);
 box-shadow: 0 -7px 0 rgba(183,203,52,0.6) inset;
  }
  a > p:hover{
    box-shadow: 0 -10px 0 rgba(183,203,52) inset;
  }
  
  .nav-item,.nav-link,.nav-item:hover,.nav-link:hover {
    color:#fff;
  }
      .nav-item a, .nav-link a,.nav-link .active, .nav-link,.navbar-brand{
        text-decoration: none; box-shadow:none; border:none;
        /* font-size:1.125em */
      }
     

      input::placeholder{
        font-style:italic;
        color:#868d96 !important;
       
      }

  /* Additional CSS */
  header{
    /* background: url("https://trialacademy.org/userassets/NYSA/NYSA/userimages/banner.jpg"); */
    background: url("https://raw.githubusercontent.com/dev-3thought/static-page-testing/main/courthouse.png");
    background-repeat:no-repeat ;
    background-size: cover;
    /* padding: 20px 8%; */
    padding: 20px 2%;
  }


  #main-navbar{
    background: rgba(15, 64, 120,0.76);
    margin:auto auto 18px auto;
  /* padding: auto 0; */
    border-radius:8px;
    min-height:56px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-align: center;
font: normal normal normal 18px/24px Open Sans;
letter-spacing: 0px;
max-width:1108px;
/* max-width:1375px; */
  }
  #component-3t-desktop-search-row{
    /* max-width:1108px; */
    max-width:1375px ;
    height:75px;
      }
.component-3t-header-logo-dt{
  height:50px;
  width:100%;
  padding-left:30px
}

 .component-3t-login{
background: #B5EEFFCC 0% 0% no-repeat padding-box !important;
opacity: 1 ;
min-height:202px;

      }
      @media(min-width:1100px){
        #my-account-btn{
          margin-left:40px
        }
        }
        @media(max-width:1100px){
          #my-account-btn{
            margin-left:-40px
          }
          }
      @media(min-width:992px){
        .component-3t-login .card-body{
          position:absolute;
          top:15px
        }
      }
      @media(min-width:992px){
        .component-3t-boro-bash, .component-3t-boro-bash img{
          min-height:550px
  
        }
      }
     
      .component-3t-card-standard{  
/* max-width: 253px; */
/* height: 320px; */
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/22px var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal normal 16px/22px Open Sans;
letter-spacing: 0px;
opacity: 1;
background: #FFFFFFE6 0% 0% no-repeat padding-box;
      }
      @media(min-width:992px){
        .component-3t-card-standard{
          min-height:325px;
        }
      }
      /* @media(max-width:992px){
        .fa-4x .fa-circle-arrow-right{
      margin-bottom:-20px
        }
      } */
      @media(min-width:992px){
      .card-ar-div{
        margin:auto 20px auto -30px !important;
        text-align:left;
        vertical-align:middle !important;
      }
    }
    
      /* Card Sub-Component Properties */
      /* .component-3t-card-standard .fa-circle-arrow-right{
        position:relative;
        bottom:0px
      } */
      .h-display{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-28-8) var(--unnamed-font-family-spectral-sc);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-1e4673);
    text-align: left;
    font: normal normal normal 24px/29px Spectral SC;
    letter-spacing: 0px;
      }
      .h-display-bold{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-32)/var(--unnamed-line-spacing-28-8) var(--unnamed-font-family-spectral-sc);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-1e4673);
text-align: left;
font: normal normal bold 32px/29px Spectral SC;
letter-spacing: 0px;
color: #1E4673;
      }
      .h-display-light{
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-28-8) var(--unnamed-font-family-spectral-sc);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: #fff;
    text-align: left;
    font: normal normal normal 24px/29px Spectral SC;
    letter-spacing: 0px;
      }

      /*  */

      #component-3t-cta-bar{
        top: 179px;
left: 676px;
max-width: 538px;
max-height: 202px ;
        background:#b8edff7d;
        padding:40px;
        margin:20px auto;
        border-radius:8px;
      }
    
      #promo-blocks > .row, #promo-blocks > .col-12{
      margin-top:20px;
      margin-bottom:20px;
      }

  .dropdown-menu{
    /* background:#0f4078ec; */
    background: rgba(15, 64, 120,0.76);
    border:none;
    margin-top:9px;
    border-radius:0 0 8px 8px
  }
  .nav-link .dropdown-toggle,
  .dropdown-item,a.dropdown-item{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 20px/22px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 20px/22px Open Sans;
  }
  .dropdown-item:hover{
    background:#c6de29;
    color:#1e4673
  }
  
  #navbarNavDropdown > .dropdown-toggle
  .card-body > p{
    font-size:1em ;
  }
.fa-circle-arrow-right{
  cursor:pointer;
  height:40px;
  color: #b7cb34;
}
#navbar-toggler-button{
  color:#1e4673;
  background:#b7cb34;
  padding:5px;
}
#mobile-nav{
  font-size:20px;
}
/* @media(max-width:768px){
  a.dropdown-item{
    font-size:1.75em
  }
} */

@media(max-width:768px){
.nav-item .dropdown-menu {
  background: rgba(0,0,0,0)
}
}
.mobile-header-btn{
  color:#1e4673;
  background:#b7cb34
}
.border-white{
  border-top:2px solid white;
  width:90vw;
  
}

.fa-bars,.fa-user{
  padding:5px;
  color:#1e4673;
}
.fa-circle-arrow-right:hover,.fa-magnifying-glass:hover{
  color: #c6de29;

}
.card-img{
  background-size: cover;
}

@media(max-width:768px){
  #header-search-row-desktop{
   display:none ;
   }
 }


  /* Media Queries */
  @media(min-width:576px){
    .height-control{
      height:100%;
    }
  }
  
.card{
  margin:12px auto;
  border:none;
  box-shadow: 0 0 14px 
}


.triangle-up {
  border-left: 65px solid transparent;
  border-right: 65px solid transparent;
  border-bottom: 50px solid #fff;
  border-top: 65px solid transparent;
  display: inline-block;
  margin: auto auto -20px auto;
  width:80px;
  display: flex;
  justify-content: center;
  /* bottom:-48px; */
 
}
.triangle-down {
  border-left: 65px solid transparent;
  border-right: 65px solid transparent;
  border-bottom: 50px solid #1e4673;
  border-top: 65px solid transparent;
  display: inline-block;
  margin: auto auto -40px auto;
  width:80px;
  display: flex;
  justify-content: center;
  transform: rotate(180deg);
 
}

@media(max-width:968px){
  #all-access{
   display:none;
  }
}
/* Modal */
#modal-form-group{
  text-align:center;
  margin:auto;
  max-width:400px
}
#modal-search{
  width:100vw !important;
  margin:auto;
}
.modal-search-btn{
text-transform:uppercase;
}
#modal-search-input,#modal-search-btn{
margin: 10px auto;
max-width:300px;
}

.fa-x{
  cursor:pointer;
}
.font-roboto {
  font-family: 'roboto condensed';
}

* {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.modal-dialog {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}
.modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(15, 64, 120,0.76);
 color:#fff;
  border-radius: 0;
  box-shadow: none;
}
.modal-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 10px;
  background: #6598d9;
  border: 0;
}
.modal-title {
  font-weight: 300;
  font-size: 2em;
  color: #fff;
  line-height: 30px;
}
.modal-body {
  position: absolute;
  top: 50px;
  bottom: 60px;
  width: 100%;
  font-weight: 300;
  overflow: auto;

}
.modal-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  padding: 10px;
  background: #f1f3f5;
}

/* Buttons */
button.btn{
  text-transform: uppercase;
  font-weight:normal;
  font: var(--unnamed-font-style-normal) normal 600 var(--unnamed-font-size-16)/22px var(--unnamed-font-family-open-sans);
}
button.btn:hover{
  box-shadow: 0 0 14px black;

}
.fa-circle-arrow-right:hover{
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
border:none;
  border-radius:50%;
  border: none;

}
.btn{
  font: var(--unnamed-font-style-normal) normal 600 var(--unnamed-font-size-16)/22px var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-1e4673);
text-align: left;
font: normal normal 600 16px/22px Open Sans;
letter-spacing: 0px;
  color:#1e4673 
}
.btn-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -100px;
  width: 200px;
}

.btn-primary {
  color: #1e4673 ;
  background-color: #b7cb34;
  font-weight:bold;
  border:none;
}

.btn-primary:hover {
  color: #1e4673;
  background-color: #c6de29;
  border:none;
  box-shadow: 0 0 14px;
}

.btn-primary:focus, .btn-primary.focus, .btn-primary:hover, .btn-primary:active {
  box-shadow: 0 0 14px;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #1e4673;
  background-color: #4f647c;
  border:none;}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-secondary{
  background:#00a5d7
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background: #3fd2ff;
  border: none;
}
.btn-secondary:disabled {
  background: #91c3d3;
  border: none;
  color: #fff
}
.btn-success {
    color: #1e4673;
  background-color: #667312;
}

.btn-success:hover {
    color: #1e4673;
  background-color: #809016;
}

.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #9fa380;
  border:none;}



.btn-info {
    color: #1e4673;
  background-color: #3fd2ff;
  border:none;}

.btn-info:hover {
    color: #1e4673;
  background-color: #63d9fd;
  border:none;}


.btn-info.disabled, .btn-info:disabled {
  color: #fff;
  background-color: #17a2b8;
  border:none;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
    color: #1e4673;
  background-color: #117a8b;
  border:none;}

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-warning {
  color: #212529;
  background-color: #ffc107;
  border:none;}

.btn-warning:hover {
  color: #212529;
  background-color: #e0a800;
  border:none;}



.btn-warning.disabled, .btn-warning:disabled {
  color: #212529;
  background-color: #ffd75e;
  /* border-color: #ffc107; */
}

.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
  color: #212529;
  background-color: #ffd75e;
 
}



.btn-danger {
    color: #1e4673;
  background-color: #732f29;
  border:none;}

.btn-danger:hover {
    color: #1e4673;
  background-color: #a7352b;
  box-shadow: 0 0 14px;
  border:none;}


.btn-danger.disabled, .btn-danger:disabled {
  color: #fff;
  background-color: #907c7b;
  border:none;
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
    color: #1e4673;
  background-color: #a7352b;
border:none}

.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  /* box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5); */
}

.btn-light {
  color: #212529;
  background-color: #f8f9fa;
  border:none
}

.btn-light:hover {
  color: #212529;
  background-color: #e2e6ea;
  border:none
}

.btn-light.disabled, .btn-light:disabled {
  color: #212529;
  background-color: #fafcfc;
  /* border-color: #f8f9fa; */
}

.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  color: #212529;
  background-color: #fafcfc;
  border:none
}

.btn-dark {
    color: #1e4673;
  background-color: #343a40;
  border:none
}

.btn-dark:hover {
    color: #1e4673;
  background-color: #23272b;
  border:none;
}

.btn-dark.disabled, .btn-dark:disabled {
  color: #fff;
  background-color: #7a7e83;
  border:none;}

.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
    color: #1e4673;
  background-color: #1d2124;
  border:none;
}

.btn-outline-primary {
  color: #1e4673;
  background-color: transparent;
  background-image: none;
  border:1px solid #b7cb34;
} 

.btn-outline-primary:hover {
  border:1px solid #b7cb34;
}
.btn-outline-primary:active,.btn-outline-primary:focus{
  border:2px solid #b7cb34;
}


.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #1e4673;
  background-color: transparent;
  border: 1px solid #7a7e83;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  /*   color: #1e4673; */
  background-color:transparent;
  /* border-color: #007bff; */
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}



/* Media queries */
@media(max-width:576px){
  .nav-link .dropdown-toggle{
    padding-left:  10rem !important;
    padding-right:  10rem !important;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 20px/22px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 20px/22px Open Sans;
    letter-spacing: 0px;
  }
}

@media(min-width:768px){
  #component-3t-mobile-search-row{
display:none;
  }
}
@media(max-width:768px){
  #component-3t-desktop-search-row{
display:none;

  }
}

@media(max-width:768px){
  #main-navbar, .component-3t-desktop-navbar{
display:none !important;
  }
}
#mobile-logo-row {
  display:flex;
  margin:15px auto -40px auto
  /* margin-top:20px; */
    }
  
@media(min-width:768px){
  #mobile-logo-row {
display:none !important;

  }
}
@media screen and (max-width:768px){
  .search-modal{
    color:#fff;
    font-family:'Spectral SC',serif;
    font-weight: 200 !important;
  }
}
@media screen and (min-width:769px){
  .search-modal{
    color:#fff;
    font-family:'Spectral SC',serif;
    font-weight: 200 !important;
  }
}

.card{
  background:rgba(255, 255, 255, 0.792)
}
.promo-content-float-left-wrap{
  height:500px;
  width:500px;
  max-width:100%;
   max-height:60vw;
   margin:auto;
   border-radius:5px;
  background:url('https://media.istockphoto.com/vectors/thumbnail-image-vector-graphic-vector-id1147544807?k=20&m=1147544807&s=612x612&w=0&h=pBhz1dkwsCMq37Udtp9sfxbjaMl27JUapoyYpQm0anc=');background-size:cover;background-repeat:no-repeat
}
@media(min-width:768px){
  .promo-content-float-left
  {
    max-height:28%;width:100%;position:relative;right:20%;top:67%;padding-top:10px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 20px/28px var(--unnamed-font-family-open-sans);
   letter-spacing: var(--unnamed-character-spacing-0);
  }
}
/* @media(max-width:768px){ */
  .promo-content-float-left-p
  {
   font-size:18px;
   font-weight:bold;
   color:#ffffff9a;
   text-transform:uppercase;
   
  }
  .promo-content-float-left-p-2
  {
   font-size:20px;
     color:#fff;

  }
/* } */
.promo-content-float-left-h3
  {
   font-size:28px;
   text-transform:uppercase;

  }

